.button {
  background-color: black;
  color: #feda4a;
  border-radius: 25px;
  height: 80px;
  width: 160px;
  font-size: 30px;
  font-weight: bolder;
}

.button:hover {
  background-color:#feda4a;
  color: black;
  border-color: white;
}

.button-container {
  display: flex;
  justify-content: space-around;
}